* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 3rem;
}

button {
    padding: 15px 30px;
}

button:hover {
    cursor: pointer;
}

#outerContainer {
    height: 100vh;
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

form {
    padding: 10px;
    min-width: 40vw;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 3px;
}

form > input, form > button {
    font-size: 1.3rem;
}

.location {
    width: 35vw;
    padding-left: 10px;
    color: rgb(94, 94, 94);
}

.location--horizontal {
    width: 15vw;
    padding-left: 10px;
    color: rgb(94, 94, 94);
}

#currentLocation {
    font-size: 4rem;
}

#weatherBox {
    display: flex;
    align-items: center;
}

#weatherIcon {
    height: 200%;
    width: auto;
}

#weatherText {
    font-size: 1.5rem;
}

#temperatureBox {
    display: flex;
    align-items: center;
    gap: 20px;
}

#temperature {
    font-size: 2rem;
    font-weight: 600;
}

#temperatureDetails {
    display: flex;
    flex-direction: column;
}

#windBox {
    display: flex;
    flex-direction: column;
}

#weeklyForecastBox {
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.forecastDate {
    text-align: center;
    font-weight: 600;
}

.forecastWeatherContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.forecastWeatherTemperature {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.forecastDay {
    padding: 10px;
    border-radius: 7px;
    border: rgba(5, 37, 142, 0.5) 2px solid;
    background-color: rgba(168, 168, 168, 0.5);
    height: 100%;
}

.rainChance {
    text-align: center;
}

.hidden {
    display: none;
}

.loadingGif {
    position: absolute;
    z-index: 100;
}

.highestElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.highestElement--horizontal {
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
}

.highestElement__left {
    gap: 5px;
    justify-content: left;
}

.highestElement__left, .highestElement__right {
    flex: 1;
}

.highestElement__left > input, .highestElement__left > button {
    font-size: 1rem;
    padding: 5px 11px;
    opacity: 0.8;
}

@media (max-width: 800px) {
    .highestElement--horizontal {
        flex-direction: column;
    }

    .highestElement__left > input {
        width: 60vw;
    }

    #weeklyForecastBox {
        flex-direction: column;
        gap: 2vh;
    }

    .forecastDay {
        min-width: 70vw;
    }
}